.dropdown-menu {
    display: grid;
    grid-template-rows: repeat(6, 30px);
    max-width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 5px 0px;
}

.dropdown-option {
    display: none;
    border-top: 1px solid black;
    padding-top: 5px;
}
