.menu-container {
    display: grid;
    grid-template-rows: repeat(6, 30px);
    max-width: 200px;
}

.menu-name {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-option {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: none;
}
